$black-color: black;
$gray-color: #aaaaaa;
$white-color: white;

$base-font: Helvetica, sans-serif;
$base-font-size: 14px;

$header-height: 15vh;

// div{
//     border: 1px solid black;
// }

body {
    margin: 0;
    background: $white-color;

    font-family: $base-font;
    font-size: $base-font-size;
    text-align: center;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;

    font-weight: bold;
    font-size: $base-font-size * 1.5;
    text-align: left;
    a {
        display: block;
        color: $black-color;
        text-decoration: none;
        margin-left: 30px;
    }
    .header-nav {
        a {
            font-size: $base-font-size;
            color: $gray-color;
            &:hover {
                color: $black-color;
            }
        }
    }
}

.welcome {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 95 - $header-height;
    
    .welcome-text {
        h1, .text{
            display: block;
            text-align: right;
        }
        .text {
            font-size: $base-font-size * 1.2;
            font-style: italic;
        }
    }
    .welcome-image {
        background-image: url("../assets/my-photo.png");
        background-size: cover;
        background-position: center;

        width: 47%;
    }
}

.portfolio {
    margin: 150px auto 50px auto;
}

section {
    padding-top: 20px;
    padding-bottom: 80px;
}

.collage-img {
    width: 100%;
    height: 350px;
    margin-top: 200px;

    background-image: url("../assets/коллаж.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.footer {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px auto 100px auto;

    .contact {
        border-radius: 20px;
        a {
            display: block;
            position: relative;

            width: 100%;
            padding-top: 110%;
            border-radius: inherit;

            text-decoration: none;
            font-weight: bold;
            text-align: center;
            color: $black-color;

            $hover-alpha: 0.5;
            $hover-color: white;
            background-color: rgba($color: $hover-color, $alpha: 0);
            &:hover{
                background-color: rgba($color: $hover-color, $alpha: $hover-alpha);
            }
        }
    }
    .bento {
        background-image: url("../assets/Контакты/bento.png");
        background-size: cover;
        background-position: center;
    }
    .vk {
        background-image: url("../assets/Контакты/vk.png");
        background-size: cover;
        background-position: center;
    }
    .git {
        background-image: url("../assets/Контакты/git.png");
        background-size: cover;
        background-position: center;
    }
    .dprofile {
        background-image: url("../assets/Контакты/dprofile.png");
        background-size: cover;
        background-position: center;
    }
}


@media (min-width: 900px) {
    .portfolio {
        width: 80%;
        h2 {
            font-size: $base-font-size * 3;
        }
    }
    .header-nav {
        display: flex;
    }
    .welcome-text {
        width: 47%;
        h1 {
            font-size: $base-font-size * 5;
            margin-top: 150px;
        }
    }
    .footer {
        width: 50%;
        .contact {
            width: 80px;
            height: 80px;
        }
    }
}
@media (max-width: 1100px) {
    .portfolio {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .portfolio {
        width: 80%;
        h2 {
            font-size: $base-font-size * 3;
        }
    }
    .welcome {
        background-image: url("../assets/my-photo.png");
        background-size: cover;
        background-position: center;

        .welcome-text {
            $hover-alpha: 0.2;
            $hover-color: rgb(0, 0, 0);
            background-color: rgba($color: $hover-color, $alpha: $hover-alpha);
            color:$white-color;
            padding-right: 40px;

            width:100%;
            h1 {
                font-size: $base-font-size * 4;
            }
            h1, .text{
                display: block;
                position: relative;
                top: 55%;
            }
        }
        .welcome-image {
            display: none;
        }
    }
    
    .header-nav {
        display: none;
    }
    .footer {
        width: 90%;
        .contact {
            width: 80px;
            height: 80px;
        }
    }
}

@media (max-width: 600px) {
    .portfolio {
        width: 100%;
        h2 {
            font-size: $base-font-size * 2;
        }
    }
    .footer {
        .contact {
            width: 50px;
            height: 50px;
            border-radius: 15px;
        }
    }
}
