// palette https://coolors.co/palette/03045e-0077b6-00b4d8-90e0ef-caf0f8
$dark-color: #03045e;
$dark-blue-color: #0077b6;
$blue-color: #00b4d8;
$light-blue-color: #90e0ef;
$bg-color: #caf0f8;

$black-color: black;
$gray-color: #aaaaaa;
$white-color: white;

$base-font: Helvetica, sans-serif;
$base-font-size: 14px;

$header-height: 15vh;

body {
    margin: 0;
    background: $white-color;

    font-family: $base-font;
    font-size: $base-font-size;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    height: $header-height;

    background: $white-color;
    text-align: left;
    font-weight: bold;
    font-size: $base-font-size * 1.5;

    a {
        color: $black-color;
        text-decoration: none;
    }
    .header-nav {
        display: flex;
        justify-content: space-between;
        width: 430px;
        font-size: $base-font-size;
        a {
            // display: block;
            color: $gray-color;
            &:hover {
                color: $black-color;
            }
        }
    }
}

.welcome {
    display: flex;
    flex-wrap: nowrap;
    height: 95 - $header-height;

    .welcome-text {
        width: 50%;
        margin-top: 15vh;
        padding: 50px 100px;
        text-align: right;

        h1 {
            font-size: $base-font-size * 5;
        }
        .text {
            font-size: $base-font-size * 1.2;
            font-style: italic;
        }
    }

    .welcome-image {
        background-image: url("../assets/my-photo.png");
        background-size: cover;
        background-position: center;

        width: 70%;
    }
}

.portfolio {
    width: 80%;
    margin: 150px auto 50px auto;

    h2 {
        font-size: $base-font-size * 3;
    }
}

.section-mediaart,
.section-study,
.section-photo {
    padding-top: 20px;
    padding-bottom: 80px;
}

.collage-img {
    width: 100%;
    height: 400px;
    background-image: url("../assets/коллаж.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 200px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    $hover-alpha: 0.8;
    $hover-color: white;
    .contact {
        width: 80px;
        height: 80px;
        margin: 30px;
        border-radius: 10px;
        a {
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $hover-color, $alpha: $hover-alpha);
            opacity: 0;
            padding-top: 40%;
            color: $black-color;
            text-decoration: none;
            font-weight: bold;
            &:hover {
                opacity: 1;
            }
        }
    }
    .bento {
        background-image: url("../assets/Контакты/bento.png");
        background-size: cover;
        background-position: center;
    }
    .vk {
        background-image: url("../assets/Контакты/vk.png");
        background-size: cover;
        background-position: center;
    }
    .git {
        background-image: url("../assets/Контакты/git.png");
        background-size: cover;
        background-position: center;
    }
    .dprofile {
        background-image: url("../assets/Контакты/dprofile.png");
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 900px) {
    .welcome {
        flex-wrap: wrap;
        justify-content: center;
        height: 500px;
        background-image: url("../assets/my-photo.png");
        background-size: cover;
        background-position: center;

        .welcome-text {
            $hover-alpha: 0.5;
            $hover-color: white;
            background-color: rgba($color: $hover-color, $alpha: $hover-alpha);

            text-align: right;
            width: 100%;
            height: 100%;
            padding: 30% 50px;
            margin: 0;
        }
        .welcome-image {
            display: none;
        }
    }
}

@media (max-width: 780px) {
    .header-nav a {
        display: none;
    }
    .header-logo {
        width: 100%;
    }
}
