$base-font-size: 14px;

$hover-alpha: 0.5;
$hover-color: black;

$title-font-size: $base-font-size * 2;
$title-font-weight: bold;
$title-font-style: normal;
$subtitle-font-size: $base-font-size;
$subtitle-font-weight: normal;
$subtitle-font-style: italic;

$text-align: left;
$text-padding: 25px;
$grid-padding:4px;

$pixelart-height: 300px;
$videoart-height: 400px;
$installation-height: 400px;
$performance-height: 300px;
$mirror-height: 300px;
$piano-height: 400px;

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 $grid-padding;
}

.flex-column {
    flex: 30%;
    max-width: 30%;
    padding: 0 $grid-padding;
    img {
        width: 100%;
        margin-top: 8px;
        vertical-align: middle;
    }
    .flex-img{
        width: 100%;
        margin-top: 8px;
        vertical-align: middle;
        
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .flex-hover {
        height: 100%;
        background-color: rgba($color: $hover-color, $alpha: $hover-alpha);

        padding: 0 $text-padding;
        text-align: $text-align;

        opacity: 0;
        transition: opacity 0.6s ease;
        &:hover {
            opacity: 1;
        }

        .flex-title {
            display: block;
            padding-top: $text-padding;

            color: white;
            font-size: $title-font-size;
            font-weight: $title-font-weight;
            font-style: $title-font-style;
        }
        .flex-subtitle {
            color: white;
            font-size: $subtitle-font-size;
            font-weight: $subtitle-font-weight;
            font-style: $subtitle-font-style;
            padding-right: 50px;
        }
    }

    .pixelart-img {
        height: $pixelart-height;
        background-image: url("../assets/Графика/Пиксельарт_1.png");  
        &:hover {
            background-image: url("../assets/Графика/Пиксельарт_2.png");
        }
    }
    .videoart-img {
        height: $videoart-height;
        background-image: url("../assets/Графика/Видеоарт_1.jpg");  
        &:hover {
            background-image: url("../assets/Графика/Видеоарт_1.jpg");
        }
    }
    .installation-img {
        height: $installation-height;
        background-image: url("../assets/Графика/Инсталляция_1.png");  
        &:hover {
            background-image: url("../assets/Графика/Инсталляция_1.png");
        }
    }
    .performance-img {
        height: $performance-height;
        background-image: url("../assets/Графика/Перформанс_1.png");  
        &:hover {
            background-image: url("../assets/Графика/Перформанс_1.png");
        }
    }
    .mirror-img {
        height: $mirror-height;
        background-image: url("../assets/Графика/Детство_2.JPG");  
        &:hover {
            background-image: url("../assets/Графика/Детство_2.JPG");
        }
    }
    .piano-img {
        height: $piano-height;
        background-image: url("../assets/Графика/Фортепиано_1.jpg");  
        &:hover {
            background-image: url("../assets/Графика/Фортепиано_1.jpg");
        }
    }
}

@media (max-width: 800px) {
    .flex-column {
        flex: 80%;
        max-width: 80%;
    }
}

@media (max-width: 600px) {
    .flex-column {
        flex: 100%;
        max-width: 100%;
    }
}
