$base-font-size: 14px;

$hover-alpha: 0.5;
$hover-color: black;

$title-font-size: $base-font-size * 2;
$title-font-weight: bold;
$title-font-style: normal;
$subtitle-font-size: $base-font-size;
$subtitle-font-weight: normal;
$subtitle-font-style: italic;

$text-align: left;
$text-padding: 25px;
$grid-padding:4px;

$pixelart-height: 350px;
$videoart-height: 450px;
$installation-height: 450px;
$performance-height: 350px;
$mirror-height: 350px;
$piano-height: 450px;

$baikal-height: 350px;
$walk-height: $baikal-height;
$way-height: $baikal-height;

$symphony-height: 350px;
$iot-height: $symphony-height;
$design-height: $symphony-height;


.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 $grid-padding;
}

.flex-column {
    flex: 30%;
    max-width: 30%;
    padding: 0 $grid-padding;
    img {
        width: 100%;
        margin-top: 8px;
        vertical-align: middle;
    }
    .flex-img{
        width: 100%;
        margin-top: 8px;
        vertical-align: middle;
        
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .flex-hover {
        height: 100%;
        background-color: rgba($color: $hover-color, $alpha: $hover-alpha);

        padding: 0 $text-padding;
        text-align: $text-align;

        opacity: 0;
        // transition: opacity 0.6s ease;
        &:hover {
            opacity: 1;
        }

        .flex-title {
            display: block;
            padding-top: $text-padding;

            color: white;
            font-size: $title-font-size;
            font-weight: $title-font-weight;
            font-style: $title-font-style;
        }
        .flex-subtitle {
            color: white;
            font-size: $subtitle-font-size;
            font-weight: $subtitle-font-weight;
            font-style: $subtitle-font-style;
            padding-right: 50px;
        }
    }

    .pixelart-img {
        height: $pixelart-height;
        background-image: url("../assets/Графика/Пиксельарт_1.png");  
        &:hover {
            background-image: url("../assets/Графика/Пиксельарт_2.png");
        }
    }
    .videoart-img {
        height: $videoart-height;
        background-image: url("../assets/Графика/Видеоарт_1.jpg");  
        &:hover {
            background-image: url("../assets/Графика/Видеоарт_2.png");
        }
    }
    .installation-img {
        height: $installation-height;
        background-image: url("../assets/Графика/Инсталляция_1.png");  
        &:hover {
            background-image: url("../assets/Графика/Инсталляция_2.jpg");
        }
    }
    .performance-img {
        height: $performance-height;
        background-image: url("../assets/Графика/Перформанс_1.png");  
        &:hover {
            background-image: url("../assets/Графика/Перформанс_2.jpg");
        }
    }
    .mirror-img {
        height: $mirror-height;
        background-image: url("../assets/Графика/Детство_1.JPG");  
        &:hover {
            background-image: url("../assets/Графика/Детство_2.JPG");
        }
    }
    .piano-img {
        height: $piano-height;
        background-image: url("../assets/Графика/Фортепиано_1.jpg");  
        &:hover {
            background-image: url("../assets/Графика/Аудиореактив_1.png");
        }
    }
    .baikal-img {
        height: $baikal-height;
        background-image: url("../assets/Фотография/Байкал_1.JPG");  
        &:hover {
            background-image: url("../assets/Фотография/Байкал_2.JPG");  
        }
    }
    .walk-img {
        height: $walk-height;
        background-image: url("../assets/Фотография/Прогулка_1.JPG");  
        &:hover {
            background-image: url("../assets/Фотография/Прогулка_2.JPG");   
        }
    }
    .way-img {
        height: $way-height;
        background-image: url("../assets/Фотография/Путь_1.JPG");  
        &:hover {
            background-image: url("../assets/Фотография/Путь_3.JPG");  
        }
    }
    .symphony-img {
        height: $symphony-height;
        background-image: url("../assets/Учеба/Кинетическая\ симфония_1.png");  
        &:hover {
            background-image: url("../assets/Учеба/Кинетическая\ симфония_2.jpg");  
        }
    }
    .iot-img {
        height: $iot-height;
        background-image: url("../assets/Учеба/iot_1.png");   
        &:hover {
            background-image: url("../assets/Учеба/iot_2.png");   
        }
    }
    .design-img {
        height: $design-height;
        background-image: url("../assets/Учеба/Мокап\ газеты_2.png");    
        &:hover {
            background-image: url("../assets/Учеба/Мокап.png");    
        }
    }
}

@media (max-width: 900px) {
    .flex-column {
        flex: 90%;
        max-width: 90%;
    }
}

@media (max-width: 600px) {
    .flex-column {
        flex: 100%;
        max-width: 100%;
    }
}
