@charset "UTF-8";
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 4px;
}

.flex-column {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  max-width: 30%;
  padding: 0 4px;
}

.flex-column img {
  width: 100%;
  margin-top: 8px;
  vertical-align: middle;
}

.flex-column .flex-img {
  width: 100%;
  margin-top: 8px;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flex-column .flex-hover {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 25px;
  text-align: left;
  opacity: 0;
}

.flex-column .flex-hover:hover {
  opacity: 1;
}

.flex-column .flex-hover .flex-title {
  display: block;
  padding-top: 25px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
}

.flex-column .flex-hover .flex-subtitle {
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  padding-right: 50px;
}

.flex-column .pixelart-img {
  height: 350px;
  background-image: url("../assets/Графика/Пиксельарт_1.png");
}

.flex-column .pixelart-img:hover {
  background-image: url("../assets/Графика/Пиксельарт_2.png");
}

.flex-column .videoart-img {
  height: 450px;
  background-image: url("../assets/Графика/Видеоарт_1.jpg");
}

.flex-column .videoart-img:hover {
  background-image: url("../assets/Графика/Видеоарт_2.png");
}

.flex-column .installation-img {
  height: 450px;
  background-image: url("../assets/Графика/Инсталляция_1.png");
}

.flex-column .installation-img:hover {
  background-image: url("../assets/Графика/Инсталляция_2.jpg");
}

.flex-column .performance-img {
  height: 350px;
  background-image: url("../assets/Графика/Перформанс_1.png");
}

.flex-column .performance-img:hover {
  background-image: url("../assets/Графика/Перформанс_2.jpg");
}

.flex-column .mirror-img {
  height: 350px;
  background-image: url("../assets/Графика/Детство_1.JPG");
}

.flex-column .mirror-img:hover {
  background-image: url("../assets/Графика/Детство_2.JPG");
}

.flex-column .piano-img {
  height: 450px;
  background-image: url("../assets/Графика/Фортепиано_1.jpg");
}

.flex-column .piano-img:hover {
  background-image: url("../assets/Графика/Аудиореактив_1.png");
}

.flex-column .baikal-img {
  height: 350px;
  background-image: url("../assets/Фотография/Байкал_1.JPG");
}

.flex-column .baikal-img:hover {
  background-image: url("../assets/Фотография/Байкал_2.JPG");
}

.flex-column .walk-img {
  height: 350px;
  background-image: url("../assets/Фотография/Прогулка_1.JPG");
}

.flex-column .walk-img:hover {
  background-image: url("../assets/Фотография/Прогулка_2.JPG");
}

.flex-column .way-img {
  height: 350px;
  background-image: url("../assets/Фотография/Путь_1.JPG");
}

.flex-column .way-img:hover {
  background-image: url("../assets/Фотография/Путь_3.JPG");
}

.flex-column .symphony-img {
  height: 350px;
  background-image: url("../assets/Учеба/Кинетическая симфония_1.png");
}

.flex-column .symphony-img:hover {
  background-image: url("../assets/Учеба/Кинетическая симфония_2.jpg");
}

.flex-column .iot-img {
  height: 350px;
  background-image: url("../assets/Учеба/iot_1.png");
}

.flex-column .iot-img:hover {
  background-image: url("../assets/Учеба/iot_2.png");
}

.flex-column .design-img {
  height: 350px;
  background-image: url("../assets/Учеба/Мокап газеты_2.png");
}

.flex-column .design-img:hover {
  background-image: url("../assets/Учеба/Мокап.png");
}

@media (max-width: 800px) {
  .flex-column {
    -webkit-box-flex: 80%;
        -ms-flex: 80%;
            flex: 80%;
    max-width: 80%;
  }
}

@media (max-width: 600px) {
  .flex-column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=flex-grid.css.map */